mule/example/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:gnip="http://labs.zaubersoftware.com/schema/gnip4j/transport"
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://labs.zaubersoftware.com/schema/gnip4j/transport http://labs.zaubersoftware.com/schema/gnip4j/transport/0.0/mule-gnip.xsd">

    <gnip:connector name="gnipConnector" username="${gnip.username}" password="${gnip.password}"/> 
    
    <flow name="incomingGnip">
        <gnip:inbound-endpoint  address="gnip://${gnip.domain}/${gnip.datacollector}" />
        <logger level="ERROR"  message="activity arrived  #[bean:id]"/>
    </flow>
</mule>
