mule/transport/src/test/resources/gnip-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:gnip="http://www.mulesoft.org/schema/mule/gnip"
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/gnip http://www.mulesoft.org/schema/mule/gnip/3.1/mule-gnip.xsd">

    <gnip:connector name="gnipConnector" username="foo" password="bar"/> 
    
    <flow name="xxx">
        <gnip:inbound-endpoint  address="gnip://acme/1" />
        <logger message="xx #[payload]"/>
    </flow>
</mule>
